mixin b-ration-main(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .b-ration-main
    .b-ration-container
      each val, index in ['Для мам', 'С рождения', 'Старше 6 месяцев', 'Старше 1 года', 'Молочное меню']
        a.b-ration__item(href="#")
          .b-ration__item-wrap
            .b-ration__star
              picture
                source(media='(max-width: 640px)', srcset='images/star-sm-#{index + 1}.svg')
                img(src="images/star-#{index + 1}.svg" alt="star")

            .b-ration__pic
              img(src="images/kid-#{index + 1}.svg" alt="Image Title")
            .b-ration__icon
              img(src="images/icon-#{index + 1}.svg" alt="Image Title")
            .b-ration__btn
              = val
          .b-ration__item-wrap
            .b-ration__benefits
              .b-ration__benefits-pic
                img(src="images/racion-icon-1.svg" alt="star")
              .b-ration__benefits-text
                | Без ГМО
                br
                | Без красителей
                br
                | Натурально
                br
                | Традиционное
                br
                | качество
            .b-ration__pack
              img(src="images/ration-pic-#{index + 1}.png" alt="star")
            
            .b-ration__btn.b-ration__btn--white
              | Узнать больше
          .b-ration__item-wrap
            .b-ration__pic-small
              img(src="images/kid-sm-#{index + 1}.svg" alt="Image Title")



