// b-ration-main styles
$colors-list: #93b9e2 #f7c2dc #edefb7 #fff6a7 #e3d1e8
$colors-list-2: #A5D2F4 #DD9BC0 #D6E96A #FFE38D #CBB5E9
// $colors-list-3: #66d3f8 #ff9ec5 #ceea60 #ffe364 #d3b6ec
@each $current-color in $colors-list
    $i: index($colors-list, $current-color)
    
    .b-ration__item     
      &:nth-child(#{$i})
        .b-ration__item-wrap
          background: linear-gradient(to bottom, $current-color 0%, $current-color 67%, #ffffff 92%, #ffffff 100%)
          @include tablet
            background: linear-gradient(to bottom, $current-color 0%, $current-color 57%, #ffffff 92%, #ffffff 100%)
          

@each $current-color in $colors-list-2
    $i: index($colors-list-2, $current-color)
    .b-ration-main,
    .b-ration-catalog
      .b-ration__item     
        &:nth-child(#{$i})
          .b-ration__btn
            background: $current-color

      
          .b-ration__item-wrap
            &:before
              background: $current-color
            


.b-ration-main,
.b-ration-main *
  box-sizing: border-box

.b-ration-main
  background: #0e3983
  background: linear-gradient(to bottom, #0e3983 0%, #0e3983 75%, #fff 75%,   #ffffff 100%)
  padding-top: 50px
  margin-bottom: 150px
  @include tablet 
    background: #0e3983
    padding-top: 30px
    margin-bottom: 30px
    padding-bottom: 20px

  .b-ration-container
    display: flex
    margin-left: auto
    margin-right: auto
    max-width: 1080px
    align-items: stretch
    @include tablet 
      flex-direction: column

  .b-ration__item
    width: calc(20% - 8px)
    height: 580px
    margin: 0 4px
    position: relative
    border-radius: 10px
    box-shadow: 0px 4px  2px rgba(#666666, 0.1)
    overflow: hidden

    &:nth-child(2)
      .b-ration__item-wrap
        &:nth-child(1)
          .b-ration__pic
            img
              @include desktop
                width: 100%
                height: 94%
                top: 5%
                position: relative
                object-fit: contain                
                object-position: 50% 50%
                font-family: 'object-fit: contain; object-position: 50% 50%;'
    &:nth-child(3)
      .b-ration__item-wrap
        &:nth-child(1)
          .b-ration__pic
            img
              @include desktop
                width: 110%

    
    @include tablet 
      width: calc(100% - 60px)
      margin: 0 30px 10px
      height: 200px
      @include phone
        height: 140px
        width: calc(100% - 20px)
        margin: 0 10px 10px

    &:hover
      .b-ration__item-wrap
        &:nth-child(2)
          opacity: 1
          @include tablet 
            opacity: 0    

  .b-ration__item-wrap
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: all 0.3s ease-in
    @include tablet 
      width: 50%
  
   


    &:nth-child(2)
      opacity: 0

      &:before
        content: ''
        display: block
        width: 384px
        height: 384px
        border-radius: 50%
        position: absolute
        right: 15px
        top: 35px

    &:nth-child(3)
      display: none
      @include tablet 
        display: block
        width: calc(50% + 1px)
        display: block
        right: 0
        left: auto
      
  .b-ration__icon
    text-align: center
    position: relative
    height: 35px
    @include tablet 
      display: none
      
    img 
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    
  .b-ration__star
    max-width: 70%
    padding-top: 20px
    margin: 0 auto 0
    @include tablet
      max-width: 90% 
    img
      display: block
      margin: auto
      max-width: 100%
      @include tablet
        height: 110px
        object-fit: contain
        font-family: 'object-fit: contain;'
      @include phone
        height: 40px

  .b-ration__pic
    height: 285px
    margin-bottom: 20px
    @include tablet 
      display: none
      
    img
      width: 100%
      height: 100%
      object-fit: cover
      font-family: 'object-fit: cover;'

  .b-ration__pic-small
    height: 100%
    width: 100%

    img
      width: 100%
      height: 100%
      object-fit: contain
      font-family: 'object-fit: contain;'

  .b-ration__pack
    position: relative
    height: 322px
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 30% 0
      font-family: 'object-fit: cover; object-position: 30% 0;'
      position: absolute

  .b-ration__btn
    width: 100%
    font-size: 18px
    display: inline-block
    width: calc(100% - 24px)
    margin: 0 12px
    text-align: center
    padding: 12px 10px 8px
    box-shadow: 0px 4px  2px rgba(#666666, 0.1)
    border-radius: 10px
    font-weight: 600
    position: absolute
    bottom: 30px
    &--white
      text-transform: uppercase
      color: #fff

    @include tablet 
      bottom: 15px
    
    @include phone
      font-size: 14px

  .b-ration__benefits
    position: relative
    margin: 25px 0 10px

  .b-ration__benefits-pic
    img
      margin: 0 auto
      display: block
      max-width: 100%

  .b-ration__benefits-text
    font-size: 12px
    color: #0e3983
    position: absolute
    bottom: 15px
    left: 25px

