extends ../_layouts/base

include ../_modules/b-ration-catalog/b-ration-catalog

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .main-wrapper
    .top-menu
      .container
        .grid_1
          a.logo(href='https://bellakt.ru/')
            .shape
            .img
              img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/p.gif', border='0', alt='Детское питание Беллакт')
        .grid_3
          .search_form
            .search-form
              form(action='https://bellakt.ru/search/index.php')
                table(border='0', cellspacing='0', cellpadding='2', align='center')
                  tbody
                    tr
                      td(align='center')
                        input(type='text', name='q', value='', size='15', maxlength='50')
                    tr
                      td(align='right')
                        input(name='s', type='submit', value='Поиск')
          .st_headerphone
            .st_det_phone
              span Горячая линия
              |   8 800 100 28 70
          a(href='https://bellakt.ru/cabinet/')
            .signin
              span
                | Войти
          .social-networks.clearfix
            a(href='https://vk.com/bellaktclub', target='_blank', rel='nofollow')
              .item.vk
            a(href='https://www.facebook.com/Bellakt.Russia', target='_blank', rel='nofollow')
              .item.fb
            a(href='https://www.instagram.com/bellaktclubmam/', target='_blank', rel='nofollow')
              .item.od
        .mnu_bar.spoiler-title
          a(href='https://bellakt.ru/catalog/#')
            span
        #mnu_item.spoiler-body(style='display: none;')
          ul
            li.item.delivery_list
              a Каталог
              ul.cities_list
                li
                  a(href='https://bellakt.ru/catalog/smesi/') Смеси
                li
                  a(href='https://bellakt.ru/catalog/kashi/') Каши
                li
                  a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/') Молочное меню
                li
                  a(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                li
                  a(href='https://bellakt.ru/catalog/group/') Рационы
            li.item.delivery_list
              a Покупателю
              ul.cities_list
                li
                  a(href='https://bellakt.ru/buyers/promo/') Акции
                li
                  a(href='https://bellakt.ru/buyers/') Где купить?
            li.item.delivery_list
              a О компании
              ul.cities_list
                li
                  a(href='https://bellakt.ru/about/#m-item-1') О заводе
                li
                  a(href='https://bellakt.ru/about/#m-item-2') Качество
                li
                  a(href='https://bellakt.ru/about/#m-item-3') Группа компаний в РФ
                li
                  a(href='https://bellakt.ru/about/#m-item-4') Скачать
                li
                  a(href='https://bellakt.ru/news/') Новости
                li
                  a(href='https://bellakt.ru/about/contacts/') Контакты
            li.item.delivery_list
              a Беллакт-клуб
              ul.cities_list
                li
                  a(href='https://bellakt.ru/club/blog/') Блог
                li
                  a(href='https://bellakt.ru/club/azbuka/') Азбука мамы
                li
                  a(href='https://bellakt.ru/club/otvet/') Вопрос-ответ
        //
          <div id="mnu_item" class="spoiler-body" style="display: none;">
          <ul>
          <li class="delivery_list">
          <a>Каталог</a>
          <ul class="cities_list">
          <li><a href="racion.html">Как выбрать</a></li>
          <li><a href="catalog.html">Ассортимент</a></li>
          </ul>
          </li>
          <li class="delivery_list">
          <a>Покупателю</a>
          <ul class="cities_list">
          <li><a href="shares.html">Акции</a></li>
          <li><a href="wherebuy.html">Где купить</a></li>
          </ul>
          </li>
          <li><a href="about.html">О нас</a></li>
          <li class="delivery_list">
          <a>Беллакт-клуб</a>
          </li>
          </ul>
          </div>
    .main-menu
      .container
        .grid_4
          .items(itemscope='', itemtype='http://www.schema.org/SiteNavigationElement')
            .item.is-many-lvls.active
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='https://bellakt.ru/catalog/') Каталог
              .two-lvl-wr(style='display: none;')
                .two-lvl(style='top: -150px;')
                  span.before(style='top: 68px;')
                  span.after(style='top: 68px;')
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/catalog/smesi/') Смеси
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/catalog/kashi/') Каши
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/') Молочное меню
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/catalog/group/') Рационы
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='https://bellakt.ru/buyers/') Покупателю
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/buyers/promo/') Акции
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/buyers/') Где купить?
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='https://bellakt.ru/about/') О компании
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/about/#m-item-1') О заводе
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/about/#m-item-2') Качество
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/about/#m-item-3') Группа компаний в РФ
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/about/#m-item-4') Скачать
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/news/') Новости
                  sps(itemprop='name')
                    a(itemprop='url', style='margin-left: -10px;', href='https://bellakt.ru/about/contacts/') Контакты
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='https://bellakt.ru/club/blog/') Беллакт-клуб
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/club/blog/') Блог
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/club/azbuka/') Азбука мамы
                  sps(itemprop='name')
                    a(itemprop='url', href='https://bellakt.ru/club/otvet/') Вопрос-ответ


    section.catalog
      .catalog-bg
      +b-ration-catalog
      //- .catalog-nav
      //-   a.item(href='https://bellakt.ru/catalog/group/#standartniy')
      //-     .title
      //-       span Стандартный рацион
      //-     span.img
      //-   a.item(href='https://bellakt.ru/catalog/group/#optimalniy')
      //-     .title
      //-       span Оптимальный рацион
      //-     span.img
      //-   a.item(href='https://bellakt.ru/catalog/group/#kaprizniy')
      //-     .title
      //-       span Капризный животик
      //-     span.img
      //-   a.item(href='https://bellakt.ru/catalog/group/#osobenniy')
      //-     .title
      //-       span Особенный рацион
      //-     span.img
      .breadcrumbs
        .breadcrumbs
          ul(itemscope='', itemtype='http://schema.org/BreadcrumbList')
            li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
              a.link.home(href='https://bellakt.ru/', title='Главная', itemprop='item')
                span(itemprop='name') Главная
              meta(itemprop='position', content='1')
            li.link.breadcrumbs-link Каталог
      .header
        .container
          .grid_4
            h1.title Ассортимент детского питания Беллакт
            p.top-text-catalog
              | В раннем возрасте организм малыша испытывает особую потребность в питательных веществах, ведь они так нужны крохе для активного роста и полноценного развития. Ассортимент детского питания компании Беллакт включает качественные продукты, созданные совместно с ведущими экспертами в области диетологии. В каталоге Вы можете найти подходящие варианты как для новорожденных деток, так и для постепенно переходящих на «взрослый» стол маленьких гурманов.
            .filter-type.clearfix
              a.f-item(href='https://bellakt.ru/catalog/smesi/') Смеси
              a.f-item(href='https://bellakt.ru/catalog/kashi/') Каши
              a.f-item(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/') Молочное меню
              a.f-item(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
      .division
        .container
          h2.new-title
            .table-cell
              img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/new-ico.png', alt='')
            |                     Новинки
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/smesi/napitok-bellakt-12-plus.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/e9d970032a593948d56c119224cd855c.jpg', alt='')
              .name Сухой молочный напиток Беллакт 12+
              .description детская адаптированная молочная смесь
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kashi/bellakt-molochnaya-grechnevaya-kasha-s-yablokom-s-5-mes.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/77ce195885921f7a290a6d930b5d8d33.jpg', alt='')
              .name Молочная гречневая каша с яблоком Беллакт
              .description рекомендуется в качестве продукта прикорма детям с 5 - ти месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/bellakt-mama-plus.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/19ee30a4735aab5f7c32e865cb40f162.jpg', alt='')
              .name Сухая молочная смесь Беллакт Мама +
              .description для питания беременных и кормящих женщин 
      .division
        .container
          h2.h2-1
            .table-cell
              img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/12bdcab87142408e53246caecc102cff.png', alt='')
            |                                                                         Смеси
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/smesi/smes-bellakt-0-6.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/7970c9f94e69f091028585fbbf5b04c9.jpg', alt='Сухая молочная смесь Беллакт 0-6')
              .name Сухая молочная смесь Беллакт 0-6
              .description детская адаптированная молочная смесь
            a.grid_1.s-item(href='https://bellakt.ru/catalog/smesi/smes-bellakt-6-12.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/8f18ad2400621749ac66fa353cbe6715.jpg', alt='Сухая молочная смесь Беллакт 6-12')
              .name Сухая молочная смесь Беллакт 6-12
              .description детская адаптированная молочная смесь
            a.grid_1.s-item(href='https://bellakt.ru/catalog/smesi/napitok-bellakt-12-plus.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/e9d970032a593948d56c119224cd855c.jpg', alt='Сухой молочный напиток Беллакт 12+')
              .name Сухой молочный напиток Беллакт 12+
              .description детская адаптированная молочная смесь
            a.grid_1.s-item(href='https://bellakt.ru/catalog/smesi/smes-bellakt-0-12.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/391ce35e4c235dcbafbf73f51e070bb1.jpg', alt='Сухая молочная смесь Беллакт 0-12')
              .name Сухая молочная смесь Беллакт 0-12
              .description детская адаптированная молочная смесь
          p.catalog-section-id
            | В нашем ассортименте представлено детское питание для здоровых малышей с рождения и детей с особыми диетическими потребностями. Вы можете выбрать молочные и кисломолочные смеси*, в том числе обогащенные про- и пребиотиками (серии «ОПТИМУМ» и «ИММУНИС»).
          div(style='text-align:center; margin-top:50px;')
            a.button.news-btn(href='https://bellakt.ru/catalog/smesi/')
              span Показать все 23 товара
      .division
        .container
          h2.h2-1
            .table-cell
              img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/c88fabcb2a724dca1c763f49651d241e.png', alt='')
            |                                                                         Каши
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kashi/bellakt-bezmolochnaya-grechnevaya-kasha-s-4-mes.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/9da14197f0c0175be9cad39059c0589c.jpg', alt='Безмолочная гречневая каша Беллакт')
              .name Безмолочная гречневая каша Беллакт
              .description рекомендуется в качестве продукта прикорма детям с 4 - х месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kashi/bellakt-bezmolochnaya-ovsyanaya-kasha-s-5-mes.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/a239006c9b676cb2bab05f68b41fb3fa.jpg', alt='Безмолочная овсяная каша Беллакт')
              .name Безмолочная овсяная каша Беллакт
              .description рекомендуется в качестве продукта прикорма детям с 5 - ти месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kashi/bellakt-bezmolochnaya-ovsyanaya-kasha-s-lesnyami-yagodami-s-6-mes.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/504fa4a00daf91afdf292c61abd2af4a.jpg', alt='Безмолочная овсяная каша с лесными ягодами Беллакт')
              .name Безмолочная овсяная каша с лесными ягодами Беллакт
              .description рекомендуется в качестве продукта прикорма детям с 6 - ти месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kashi/bellakt-bezmolochnaya-risovo-grechnevaya-kasha-s-chernoslivom-s-5-mes.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/8aa42faefdc807bca1aea227b7cc095c.jpg', alt='Безмолочная рисово-гречневая каша с черносливом Беллакт')
              .name Безмолочная рисово-гречневая каша с черносливом Беллакт
              .description рекомендуется в качестве продукта прикорма детям с 5 - ти месяцев
          p.catalog-section-id
            | Наша продукция — это молочные и безмолочные каши, которые идеально подходят для прикорма (с 4 месяцев и старше). Вы можете выбрать монокомпонентные каши или продукты с различными наполнителями, в том числе и каши на основе фруктового и фруктово-овощного пюре.
          div(style='text-align:center; margin-top:50px;')
            a.button.news-btn(href='https://bellakt.ru/catalog/kashi/')
              span Показать все 18 товаров
      .division
        .container
          h2.h2-1
            .table-cell
              img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/e1e05e888a6992f393b16838ca6ffb51.png', alt='')
            |                                                                         Для беременных и кормящих
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/bellakt-mama-plus.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/19ee30a4735aab5f7c32e865cb40f162.jpg', alt='Сухая молочная смесь Беллакт Мама +')
              .name Сухая молочная смесь Беллакт Мама +
              .description для питания беременных и кормящих женщин 
            a.grid_1.s-item(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/bellakt-mama.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/87c7b9424df5d9fcd66eaa4eaadc6b4d.jpg', alt='Сухая молочная смесь Беллакт Мама')
              .name Сухая молочная смесь Беллакт Мама
              .description для питания беременных и кормящих женщин 
      .division
        .container
          h2.h2-1
            .table-cell
              img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/28f38c722b3ea82b78d958c3537e155c.png', alt='')
            |                                                                         Молочное меню
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/tvorog-s-bananom-5.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/c18fd51df92c9e3909674cb9632bf523.jpg', alt='Творог с бананом  5%')
              .name Творог с бананом  5%
              .description
                | для детей с 6-ти месяцев
                br
          p.catalog-section-id
            | Каталог детского питания также включает обогащенное витаминами молоко, творог, кефир и йогурты.
            br
            | На официальном сайте производителя Беллакт Вы найдете все необходимую информацию о выпускаемых товарах: состав, способ приготовления, возраст, с которого можно вводить продукт в рацион ребенка.
            br
            | *Всемирная организация здравоохранения рекомендует грудное вскармливание для детей до 6 месяцев. Беллакт поддерживает ВОЗ и предлагает продолжать грудное вскармливание как можно дольше. Перед применением смеси или введением прикорма проконсультируйтесь со своим педиатром.
          div(style='text-align:center; margin-top:50px;')
            a.button.news-btn(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/')
              span Показать все 23 товара
      .division
        .container
          h2.h2-1
            | Молоко
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/moloko/moloko-sterilizovannoe-obogashchennoe-vitaminami-2-5-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/556d9924e418e48bd3871615ae337922.jpg', alt='Молоко Беллакт обогащенное 2,5%')
              .name Молоко Беллакт обогащенное 2,5%
              .description
                | для детей с 8-ми месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/moloko/moloko-sterilizovannoe-3-2-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/a6d3ae156239373e87c299a9c86031d5.jpg', alt='Молоко Беллакт 3,2%')
              .name Молоко Беллакт 3,2%
              .description
                | для детей с 8-ми месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/moloko/bellakt-detskoe-molochko-m-d-zh-15.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/ef43e745e7242d09b2c69e634cb938f4.jpg', alt='Детское молочко Беллакт м.д.ж. 2,2%')
              .name Детское молочко Беллакт м.д.ж. 2,2%
              .description для дополнительного питания детей  от года
            a.grid_1.s-item(href='https://bellakt.ru/catalog/moloko/bellakt-detskoe-molochko-m-d-zh-25.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/3355ecdb7aec15724404942c710f0027.jpg', alt='Детское молочко Беллакт м.д.ж. 3,7%')
              .name Детское молочко Беллакт м.д.ж. 3,7%
              .description для дополнительного питания детей  от года
      .division
        .container
          h2.h2-1
            | Кефир
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kefir/kefir-obogashchennyy-bifidobakteriyami-3-2-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/ba465645b333c23a84e89177261e9e17.jpg', alt='Кефир Беллакт обогащенный 3,2%')
              .name Кефир Беллакт обогащенный 3,2%
              .description для детей с 8-ми месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/kefir/kefir-3-2-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/9ccaa2ef0fd83af71646314f3117c0f8.jpg', alt='Кефир Беллакт 3,2%')
              .name Кефир Беллакт 3,2%
              .description для детей с 8-ми месяцев
      .division
        .container
          h2.h2-1
            | Йогурт в стакане
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/jogurt/yogurt-sladkiy-3-2-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/20e5d349d5b11f5ce92c5dcc68e29369.jpg', alt='Йогурт сладкий Беллакт 3,2 %')
              .name Йогурт сладкий Беллакт 3,2 %
              .description
                | для детей с 8-ми месяцев
                br
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/jogurt/yogurt-s-yablokom-3-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/0b6679b154e980cfbc9a0920f86959df.jpg', alt='Йогурт с яблоком Беллакт 3 %')
              .name Йогурт с яблоком Беллакт 3 %
              .description
                | для детей с 8-ми месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/jogurt/yogurt-s-grushey-3-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/09ca686b5bdf7cfeace3402e03a1c6d1.jpg', alt='Йогурт с грушей Беллакт 3 %')
              .name Йогурт с грушей Беллакт 3 %
              .description
                | для детей с 8-ми месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/jogurt/yogurt-s-abrikosom-i-bananom-3-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/8f33b8dd326bc51855fdb4866dd8308c.jpg', alt='Йогурт с абрикосом и бананом Беллакт 3 %')
              .name Йогурт с абрикосом и бананом Беллакт 3 %
              .description для детей с 8-ми месяцев
      .division
        .container
          h2.h2-1
            | Творог
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/tvorog/tvorog-6-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/25b05410c2939e6351740d91412b0039.jpg', alt='Творог Беллакт 6 %')
              .name Творог Беллакт 6 %
              .description
                | для детей с 6-ти месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/tvorog/tvorog-s-yablokom-5-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/543ced70c9620f0490b432d748d1925a.jpg', alt='Творог с яблоком Беллакт 5 %')
              .name Творог с яблоком Беллакт 5 %
              .description
                | для детей с 6-ти месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/tvorog/tvorog-s-grushey-5-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/dd1f11c3b4f8583cfac6f822d7eefa9b.jpg', alt='Творог с грушей Беллакт 5 %')
              .name Творог с грушей Беллакт 5 %
              .description
                | для детей с 6-ти месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/tvorog/tvorog-s-chernikoy-5.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/90436967ba8e5ff57207f0ec0f61fb41.jpg', alt='Творог с черникой Беллакт 5%')
              .name Творог с черникой Беллакт 5%
              .description
                | для детей с 6-ти месяцев
                br
      .division
        .container
          h2.h2-1
            | Жидкие молочные каши
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/zhidkaya-molochnaya-kasha/pitevaya-kasha-molochnaya-.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/518d451c91a9ca0a4f7ad79e19cdd2fd.jpg', alt='Каша молочная рисовая Беллакт')
              .name Каша молочная рисовая Беллакт
              .description для детей с 4-х месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/zhidkaya-molochnaya-kasha/kasha-molochnaya-ovsyanaya.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/fd9f29895332a20490354fe74eb17d83.jpg', alt='Каша молочная овсяная Беллакт')
              .name Каша молочная овсяная Беллакт
              .description для детей с 5-ти месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/zhidkaya-molochnaya-kasha/kasha-molochnaya-multizlakovaya.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/eef45d51c416ce84c24138aa87c74f40.jpg', alt='Каша молочная мультизлаковая Беллакт')
              .name Каша молочная мультизлаковая Беллакт
              .description для детей с 6-ти месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/zhidkaya-molochnaya-kasha/kasha-molochnaya-grechnevaya-bellakt.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/37fff8eb18995a663b1371a623f2ccb0.jpg', alt='Каша молочная гречневая Беллакт')
              .name Каша молочная гречневая Беллакт
              .description для детей с 4-х месяцев
      .division
        .container
          h2.h2-1
            | Йогурт питьевой
          .s-items.clearfix
            a.grid_1.s-item(href='https://bellakt.ru/catalog/pitevoj-jogurt/yogurt-pitevoy-sladkiy-s-bifidobakteriyami-2-8.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/f353e60822ead0baaad57dd7509ee4bd.jpg', alt='Йогурт питьевой сладкий Беллакт с бифидобактериями 2,8%')
              .name Йогурт питьевой сладкий Беллакт с бифидобактериями 2,8%
              .description для детей с 8-ми месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/pitevoj-jogurt/yogurt-pitevoy-s-yablokom-i-malinoy-2-6.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/bf647fac574b6bf84d55395134803b4b.jpg', alt='Йогурт питьевой с яблоком и малиной Беллакт 2,6%')
              .name Йогурт питьевой с яблоком и малиной Беллакт 2,6%
              .description
                | для детей с 8-ми месяцев
                br
            a.grid_1.s-item(href='https://bellakt.ru/catalog/pitevoj-jogurt/yogurt-pitevoy-s-klubnikoy-i-bananom-2-6.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/f26c7f2f71e2e65c56b9a4ec2178b3ac.jpg', alt='Йогурт питьевой с клубникой и бананом Беллакт 2,6%')
              .name Йогурт питьевой с клубникой и бананом Беллакт 2,6%
              .description для детей с 8-ми месяцев
            a.grid_1.s-item(href='https://bellakt.ru/catalog/pitevoj-jogurt/yogurt-pitevoy-s-lesnymi-yagodami-2-6.php')
              .img-box.outer
                .inner
                  img(src='./Ассортимент детского питания Беллакт 👶 каталог продукции_files/a0befb7a62179d154fee7f7bcb357de6.jpg', alt='Йогурт питьевой с лесными ягодами Беллакт 2,6%')
              .name Йогурт питьевой с лесными ягодами Беллакт 2,6%
              .description
                | для детей с 8-ми месяцев
                br
    footer
      .go-top
      .footer-pattert
      .container
        .grid_4
          .footer-menu
            .items
              ul
                li.item.st_fmenucat
                  a(href='https://bellakt.ru/catalog/')
                    span Каталог
                  div
                    div
                      a(href='https://bellakt.ru/catalog/kashi/')
                        span.st_line Детские каши
                      a(href='https://bellakt.ru/catalog/kashi/molochnye/')
                        span Молочные каши
                      a(href='https://bellakt.ru/catalog/kashi/bezmolochnye/')
                        span Безмолочные каши
                      br
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/')
                        span.st_line Молочное меню
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/moloko/')
                        span Молоко
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/kefir/')
                        span Кефир
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/jogurt/')
                        span Йогурты
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/pitevoj-jogurt/')
                        span Питьевые йогурты
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/tvorog/')
                        span Творог
                      a(href='https://bellakt.ru/catalog/detskoe-molochnoe-menyu/zhidkaya-molochnaya-kasha/')
                        span Жидкие молочные каши
                    div
                      a(href='https://bellakt.ru/catalog/smesi/')
                        span.st_line Детские смеси
                      a(href='https://bellakt.ru/catalog/smesi/adaptirovannye-molochnye-smesi/')
                        span Молочные смеси
                      a(href='https://bellakt.ru/catalog/smesi/kislomolochnye/')
                        span Кисломолочные смеси
                      a(href='https://bellakt.ru/catalog/smesi/gipoalergennye/')
                        span Гипоаллергенные смеси
                      br
                      a(href='https://bellakt.ru/catalog/dlya-beremennykh-i-kormyashchikh/')
                        span.st_line Для беременных и кормящих
                li.item
                  span Покупателю
                  div
                    a(href='https://bellakt.ru/buyers/promo/')
                      span Акции
                    a(href='https://bellakt.ru/buyers/')
                      span Где купить?
                    a(href='https://bellakt.ru/buyers/partneram.php')
                      span Партнерам
                li.item
                  a(href='https://bellakt.ru/about/')
                    span О нас
                  div
                    a(href='https://bellakt.ru/about/contacts/')
                      span Контакты
                    a(href='https://bellakt.ru/news/')
                      span Новости
                  a(href='https://bellakt.ru/sitemap/')
                    span Карта сайта
                li.item
                  a(href='https://bellakt.ru/club/blog/')
                    span Беллакт-клуб
                  div
                    a(href='https://bellakt.ru/club/azbuka/')
                      span Азбука мамы
                    a(href='https://bellakt.ru/club/otvet/')
                      span Вопрос-ответ
        .grid_4.st_callblock
          .question.clearfix(style='display:inline-block;position: relative;left: 50%;margin-top: 29px; margin-left: -240px;')
            a.title(href='javascript: void()', style='margin-left:0')
              span Созрел вопрос
            .phone
              .city-choose Горячая линия
              .number
                | 8 800 100 28 70
        .grid_4
          .copyright
            | © 2017 Детское питание Беллакт – российский официальный сайт. Все права защищены. 
            br
            br
            a(rel='nofollow', target='_blank', href='http://bellakt.com/')  Сайт для мам и пап из Республики Беларусь: bellakt.com
            br
            br
            a(href='https://bellakt.ru/about/#contacts') Контактная информация
        .grid_4.st_sociallink
          .social-networks.clearfix
            a(href='https://vk.com/bellaktclub', target='_blank', rel='nofollow')
              .item.vk
            a(href='https://www.facebook.com/Bellakt.Russia/', target='_blank', rel='nofollow')
              .item.fb
            a(href='https://www.instagram.com/bellaktclubmam/', target='_blank', rel='nofollow')
              .item.od
        .grid_4
          .developer
            | Сайт разработан в 
            a(rel='nofollow', href='http://informunity.ru/') Informunity
            a.devlogo(rel='nofollow', href='http://informunity.ru/')
    
