mixin b-ration-catalog(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .b-ration-catalog
    .b-ration-container
      each val, index in ['Для мам', 'С рождения', 'Старше 6 месяцев', 'Старше 1 года', 'Молочное меню']
        a.b-ration__item(href="#")
          .b-ration__item-wrap
            .b-ration__star
              img(src="../images/star-#{index + 1}.svg" alt="star")
              
            .b-ration__pic
              img(src="../images/kid-sm-#{index + 1}.svg" alt="Image Title")
            .b-ration__btn
              = val
          