// b-ration-catalog styles
.b-ration-catalog,
.b-ration-catalog *
  box-sizing: border-box
  
.b-ration-catalog
  font-family: 'RotondaC', sans-serif
  .b-ration-container
    display: flex
    @include tablet
      flex-wrap: wrap

  .b-ration__item
    width: 20%
    position: relative
    height: 200px
    overflow: hidden
    @include phone
      height: 140px
    

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
      @include tablet 
        width: 50%

      @include phone
        .b-ration__star
          width: 50px
          height: 40px


    &:nth-child(1)
      .b-ration__pic
        img
          top: 5%
          left: 12%

      .b-ration__star
        right: 9%
        top: 17%
        transform: scale(1, -1)

    &:nth-child(2)
      .b-ration__pic
        img
          top: 11%
          left: 3%
      .b-ration__star
        transform: scale(-1, 1)
        right: 6%
        top: 12%

    &:nth-child(3)
      .b-ration__pic
        img
          left: 21%
          top: -7% 
      .b-ration__star
        right: 1%
        top: 7%
        transform: scale(1, -1)
    &:nth-child(4)
      .b-ration__pic
        img
          top: -2%
          left: 1%
      .b-ration__star
        transform: scale(-1, -1)
        right: 5%
        top: 1%

    &:nth-child(5)
      @include tablet 
        width: 100%

      .b-ration__pic
        img
          top: -18%
          left: 5%
          @include phone
            top: -5%
            left: -3%
      .b-ration__star
        right: 5%
        top: 7%
        transform: scale(1, -1)

    &:hover
      .b-ration__btn
        padding-right: 50px

  .b-ration__item-wrap
    height: 100%
    .b-ration__btn

  .b-ration__star
    position: absolute
    width: 90px
    height: 70px
    z-index: 1

  .b-ration__pic
    height: 100%
    transform: scale(-1, 1)

    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: 100% 100%
      font-family: 'object-fit: contain; object-position: 100% 100%;'
      position: relative
      @include desktop-lg
        left: -2%!important

  .b-ration__btn
    position: absolute
    bottom: 10px
    right: 0
    font-size: 18px
    font-weight: 600
    border-radius: 15px 0 0 15px
    padding: 10px 30px 8px 20px
    transition: all 0.4s ease-in
    @include phone
      font-size: 14px


