//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html
<html class='no-js' lang='en'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title bellakt
  meta(name='description', content= 'A new Yeogurt application')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css')
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')
    
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js')
  script(src='https://bellakt.ru/local/templates/main/js/vendor.js')
  script(src=baseUrl + 'scripts/ofi.min.js')
   
body

  block content
  
  script.
    $(function() {
      objectFitImages();
    })
   
</html>

