// Normalize Styles
// @import node_modules/normalize.css/normalize
// @import url(../_styles/css/vendor)
// @import url(../_styles/css/template_styles)

=font($name, $file, $weight, $style)
  @font-face
    font-family: $name
    src: url("../fonts/" + $file + ".woff2") format('woff2'), url("../fonts/" + $file + ".woff") format('woff')
    font-weight: $weight
    font-style: $style

+font('RotondaC','rotondac', 'normal', 'normal')
+font('RotondaC','rotondac-bold', 600, 'normal')

// стили с сайта
@import ../_styles/css/vendor
@import ../_styles/css/template_styles
@import ../_styles/css/styles
@import ../_styles/css/style(1)
@import ../_styles/css/style(2)

@import ../_styles/mixin/mixin

// Import Modules
@import ../_modules/b-ration-main/b-ration-main
@import ../_modules/b-ration-catalog/b-ration-catalog
@import ../_modules/b-ration-page/b-ration-page
@import ../_modules/b-ration-mobile/b-ration-mobile
