.pink-circle {
    cursor: pointer;
}

.download-media-files {
    background: #11345e;
    background: linear-gradient(to top, #2960b0, #11345e);
    margin: 100px 0 40px 0;
    padding-bottom: 30px;
    text-align: center;
}

.download-media-files a {
    opacity: 0.9;
    text-shadow: -0.9px 0.5px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: "ALSSchlangesans-Bold";
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.download-media-files a:visited {
    color: #ffffff;
}

.download-media-files a:hover {
    color: #E373A6;
}

.download-media-files .title {
    opacity: 0.9;
    text-shadow: -0.9px 0.5px 0 rgba(255, 255, 255, 0.21);
    color: #ffffff;
    font-family: "ALSSchlangesans-Bold";
    font-size: 54px;
    line-height: 52px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}