#popup-info {
    position: relative;
    border-radius: 30px;
    border: 4px solid #6283C1;
    overflow: hidden;
    background: url("/local/components/iu/info_popup/templates/.default/img/For_PNG-09.png");
    padding: 25px;
    background-repeat:  no-repeat;
    background-size: contain;
    background-position:  center;
    background-size: 130% auto;
    width: 470px;
    height: 350px;
    margin: 0 auto;
    box-sizing: content-box;
}

#popup-info .info-text {
    width: 52%;
    line-height: 1.5;
    color: #1F327F;
    font-family: "ALSSchlangesans";
    font-size: 17px;
    line-height: 22px;
}

.mfp-zoom-in {
    /* start state */
    /* animate in */
    /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

#popup-info button{
    background-color: #6283c1;
}
