extends ../_layouts/base

include ../_modules/b-ration-mobile/b-ration-mobile

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .main-wrapper
    .top-menu
      .container
        .grid_1
          a.logo(href='/')
            .shape
            .img
              img(src='/images/p.gif', border='0', alt='Детское питание Беллакт')
        .grid_3
          .search_form
            .search-form
              form(action='/search/index.php')
                table(border='0', cellspacing='0', cellpadding='2', align='center')
                  tr
                    td(align='center')
                      input(type='text', name='q', value='', size='15', maxlength='50')
                  tr
                    td(align='right')
                      input(name='s', type='submit', value='Поиск')
          .st_headerphone
            .st_det_phone
              span Горячая линия
              |   8 800 100 28 70
          a(href='/cabinet/')
            .signin
              span
                | Войти
          .social-networks.clearfix
            a(href='https://vk.com/bellaktclub', target='_blank', rel='nofollow')
              .item.vk
            a(href='https://www.facebook.com/Bellakt.Russia', target='_blank', rel='nofollow')
              .item.fb
            a(href='https://www.instagram.com/bellaktclubmam/', target='_blank', rel='nofollow')
              .item.od
        .mnu_bar.spoiler-title
          a(href='#')
            span
        #mnu_item.spoiler-body(style='display: none;')
          ul
            li.item.delivery_list
              a Каталог
              ul.cities_list
                li
                  a(href='/catalog/smesi/') Смеси
                li
                  a(href='/catalog/kashi/') Каши
                li
                  a(href='/catalog/detskoe-molochnoe-menyu/') Молочное меню
                li
                  a(href='/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                li
                  a(href='/catalog/group/') Рационы
            li.item.delivery_list
              a Покупателю
              ul.cities_list
                li
                  a(href='/buyers/promo/') Акции
                li
                  a(href='/buyers/') Где купить?
            li.item.delivery_list
              a О компании
              ul.cities_list
                li
                  a(href='/about/#m-item-1') О заводе
                li
                  a(href='/about/#m-item-2') Качество
                li
                  a(href='/about/#m-item-3') Группа компаний в РФ
                li
                  a(href='/about/#m-item-4') Скачать
                li
                  a(href='/news/') Новости
                li
                  a(href='/about/contacts/') Контакты
            li.item.delivery_list
              a Беллакт-клуб
              ul.cities_list
                li
                  a(href='/club/blog/') Блог
                li
                  a(href='/club/azbuka/') Азбука мамы
                li
                  a(href='/club/otvet/') Вопрос-ответ
        
    .main-menu
      .container
        .grid_4
          .items(itemscope='', itemtype='http://www.schema.org/SiteNavigationElement')
            .item.is-many-lvls.active
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/catalog/') Каталог
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/smesi/') Смеси
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/kashi/') Каши
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/detskoe-molochnoe-menyu/') Молочное меню
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/dlya-beremennykh-i-kormyashchikh/') Для беременных и кормящих
                  sps(itemprop='name')
                    a(itemprop='url', href='/catalog/group/') Рационы
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/buyers/') Покупателю
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/buyers/promo/') Акции
                  sps(itemprop='name')
                    a(itemprop='url', href='/buyers/') Где купить?
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/about/') О компании
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-1') О заводе
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-2') Качество
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-3') Группа компаний в РФ
                  sps(itemprop='name')
                    a(itemprop='url', href='/about/#m-item-4') Скачать
                  sps(itemprop='name')
                    a(itemprop='url', href='/news/') Новости
                  sps(itemprop='name')
                    a(itemprop='url', style='margin-left: -10px;', href='/about/contacts/') Контакты
            .item.is-many-lvls
              span.white-overlay
              sp(itemprop='name')
                a(itemprop='url', href='/club/blog/') Беллакт-клуб
              .two-lvl-wr
                .two-lvl
                  span.before
                  span.after
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/blog/') Блог
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/azbuka/') Азбука мамы
                  sps(itemprop='name')
                    a(itemprop='url', href='/club/otvet/') Вопрос-ответ
    section.b-ration-section
      .breadcrumbs-wrapper
       
        .breadcrumbs
          ul(itemscope='', itemtype='http://schema.org/BreadcrumbList')
            li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
              a.link.home(href='/', title='Главная', itemprop='item')
                span(itemprop='name') Главная
              meta(itemprop='position', content='1')
            li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
              a.link(href='/catalog/', title='Каталог', itemprop='item')
                span(itemprop='name') Каталог
              meta(itemprop='position', content='2')
            li.link.breadcrumbs-link Рационы

      +b-ration-mobile
    