// b-ration-mobile styles
// b-ration-page styles

.b-ration-mobile,
.b-ration-mobile *
  box-sizing: border-box

.b-ration-mobile
  font-family: 'RotondaC', sans-serif
  position: relative

  &:after
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    z-index: 0
    top: 0
    background-image: linear-gradient(180deg, #a0cfff 0%, #a0cfff 1%, white 100%)
          
  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    background-image: url(/local/templates/main/images/catalog-bg.png)
    background-size: 100% auto
    background-repeat: no-repeat
    z-index: 1
    top: 0

  &.b-ration-page--1
    &:after
      background-image: linear-gradient(180deg, #a0cfff 0%, #a0cfff 1%, white 10%,  white 100%)

  &.b-ration-page--2
    &:after
      background-image: linear-gradient(180deg, #f7afd6 0%, #f7afd6 1%, white 10%, white 100%)

  &.b-ration-page--3
    &:after
      background-image: linear-gradient(180deg, #caec8a 0%, #caec8a 1%, white 10%,  white 100%)
    
  &.b-ration-page--4
    &:after
      background-image: linear-gradient(180deg, #ffe38e 0%, #ffe38e 1%, white 10%, white 100%)
    
  &.b-ration-page--5
    &:after
      background-image: linear-gradient(180deg, #e4bafc 0%, #e4bafc 1%, white 10%, white 100%) 
  
  .b-ration-container
    max-width: 800px
    margin: auto

  .b-ration__item
    box-sizing: border-box
    overflow: hidden
    box-shadow: 0px 4px  2px rgba(#666666, 0.1)
    border-radius: 30px 30px 10px 10px
    margin: 0 20px
    padding-top: 70px
    position: relative
    z-index: 1

  .b-ration__item-small
    box-sizing: border-box

  .b-ration__item-small *,
  .b-ration__item *
    box-sizing: inherit
    
  .b-ration__item-wrap
    border-radius: 10px
    height: auto
    position: relative
    &:before
      content: ''
      display: block
      border-radius: 50%
      position: absolute
      top: 0
      left: 0
      transform: translateX(-50%) scale(0.96)
      width: 100%
      height: 100%
      
  .b-ration__ribbon
    background-image: url(../images/ribbon-3.png)
    background-size: 100% auto
    background-repeat: no-repeat
    position: relative
    top: -21px
    vertical-align: top
    margin-bottom: -55px
    display: block 
    margin: auto
    width: 320px
    height: 135px
    @include phone
      width: 220px
      height: 90px
      top: -13px

  .b-ration__title
    vertical-align: top
    font-weight: 600
    margin-top: 26px
    padding: 0 20px    
    display: block
    width: 100%
    text-align: center
    font-size: 28px
    @include phone
      font-size: 24px
      
  .b-ration__ribbon-text
    position: absolute
    width: 100%
    top: 41%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 28px
    font-weight: 600
    color: #0e3983
    text-align: center
 
    @include phone
      font-size: 24px
  
  .b-ration__col-wrap
    display: flex
    max-height: calc(100% - 95px)
    height: 100%
    flex-direction: column
 
  .b-ration__col
    position: relative
    max-height: 100%
    width: 100%
    display: flex
    flex-direction: column

  .b-ration__list
    display: block
    position: relative
  
        
    ul 
      vertical-align: top
      margin: 0
      
     
      display: block
      width: 100%
      &:not(.icon)
        columns: 2
        margin-top: 20px
      @include phone
        &:not(.icon)
          columns: 1

      li
        font-family: 'RotondaC', sans-serif
        font-weight: 400
        margin-bottom: 4px
        color: #004097

        &:hover
          .b-detail
            opacity: 1
              
        @include small-screen
          font-size: 14px
          line-height: 1.4
        @include phone
          font-size: 14px
          line-height: 1.4

        &:before
          top: -3px
      
      &.icon
        text-align: center
          
        li
          margin-bottom: 0
          display: inline-block
          text-align: center
          vertical-align: top
          padding: 0 10px
          width: 20%
          @include phone
            width: 45%
            margin-bottom: 10px
          img,
          span
            display: inline-block
            vertical-align: middle
          img
            @include small-screen
              width: 35px
          span
            font-size: 14px
            line-height: 1
            padding-left: 0
            padding-top: 8px
            display: block
              
          &:before
            content: none
  

  .b-ration__category
    font-size: 14px
    color: #445184
    margin-top: 4px
    position: absolute
    bottom: 0
    position: relative
    padding-left: 0
    padding-top: 30px

    a
      color: #f082ab
      &:hover
        color: #445184

  .b-ration__content
    font-size: 18px
    line-height: (25/16)
    color: #004097
    padding: 0 40px 55px 22px
    position: relative
    margin-top: 40px
    @include small-screen
      margin-top: 20px
      font-size: 14px
    @include phone
      font-size: 14px
      margin-top: 20px

    span
      display: block
      width: 7px
      height: 7px
      background-color: #e373a6
      border-radius: 15px
      position: absolute
      left: 0
      top: 7px

    &:before
      content: ''
      position: absolute
      height: 1px
      border-bottom: 2px dotted
      bottom: 3px
      left: 3px
      width: 90%
      

    &:after
      content: ''
      position: absolute
      height: calc(100% - 20px)
      width: 1px
      border-left: 2px dotted 
      left: 3px
      top: 17px
  
  .button
    width: 217px
    position: relative
    top: -26px
    height: 44px
    line-height: 14px
    padding: 0 30px 0 50px

    
    transition: box-shadow 0.4s ease
    
    transform: translateX(-100%)
    left: 100%
    &:after
      content: none

    span
      top: 16px
      @include small-screen
        top: 14px
    &:hover
      box-shadow: 0 2px 4px rgba(8, 48, 117, 0.4);
    @include small-screen
      height: 38px
    img
      position: absolute
      left: 0
      top: 0
      @include small-screen
        width: 38px


    span
      float: none
      font-size: 16px
      font-family: 'RotondaC', sans-serif
      font-weight: 600
      margin-right: 0

  .b-ration__pic-wrap
    height: 100%

  .b-ration__pic
    position: absolute
    text-align: center
    width: 30%
    height: 30%
    left: 1%
    top: -15%

    img
      position: relative
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center center
      font-family: 'object-fit: contain; object-position: center center;'

  
  .b-ration__pack
    height: 100%
    display: flex
    align-items: center
    position: relative
    width: 90%
    margin: auto
    picture
      width: 100%
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: contain
      font-family: 'object-fit: contain;'
  
  .b-ration__item-small
    position: relative
    margin: -20px 20px 0 
    display: block
    z-index: 1
  
  .b-interesting__wrap
    background: #024397
    padding: 10px 30px 30px
    margin: 20px 0 0
    position: relative
    z-index: 1
    .b-ration__title
      color: #fff!important
      margin-bottom: 20px

  .b-interesting
    position: relative
    border-radius: 10px
    box-shadow: 0px 4px  2px rgba(#666666, 0.1)
    overflow: hidden
    width: 100%
    // margin: 0 0 10px
    height: 200px
    
    @include phone
      height: 140px
     

  .b-interesting__item-wrap
    position: absolute
    top: 0
    left: 0
    
    height: 100%
    transition: all 0.3s ease-in
    width: 50%

    &:nth-child(1)
    &:nth-child(2)
      display: block
      width: calc(50% + 1px)
      display: block
      right: 0
      left: auto
  
  .b-interesting__star
    max-width: 90%
    padding-top: 20px
    margin: 0 auto 0
    max-width: 90% 
    img
      display: block
      margin: auto
      max-width: 100%
      height: 110px
      object-fit: contain
      font-family: 'object-fit: contain;'
      @include phone
        height: 40px

  .b-interesting__btn
    width: 100%
    font-size: 18px
    display: inline-block
    width: calc(100% - 24px)
    margin: 0 12px
    text-align: center
    padding: 12px 10px 8px
    box-shadow: 0px 4px  2px rgba(#666666, 0.1)
    border-radius: 10px
    font-weight: 600
    position: absolute
    bottom: 15px
    color: #444d83
    &--white
      text-transform: uppercase
      color: #fff
    @include phone
      font-size: 14px
  
  .b-interesting__pic-small
    height: 100%
    width: 100%
    img
      width: 100%
      height: 100%
      object-fit: contain
      font-family: 'object-fit: contain;'

  // .swiper-slide:nth-child(5) 
  //   .b-interesting__item-wrap
  //     background: linear-gradient(to bottom, #c7e2ff 0%, #c7e2ff 57%, #ffffff 92%, #ffffff 100%)
  //   .b-interesting__btn
  //     background: #c7e2ff
  .swiper-container
    overflow: visible

  .swiper-button-next, 
  .swiper-button-prev
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4yNSIgaGVpZ2h0PSIzNi45MyIgdmlld0JveD0iMCAwIDE2LjI1IDM2LjkzIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnJhdGlvbi1hcnJvdzwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9InJhY2lvbtClNjQwX0ltYWdlIiBkYXRhLW5hbWU9InJhY2lvbtClNjQwwqBJbWFnZSI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTQuODguNDlhMywzLDAsMCwxLC44Myw0LjIxTDYuNTYsMTguNTFsOS4xOCwxMy43NGEzLDMsMCwxLDEtNSwzLjM0TC41MSwyMC4zMmEzLDMsMCwwLDEtLjQ5LTIsMy4zLDMuMywwLDAsMSwuNTItMS42NUwxMC42OSwxLjM0QTMuMDYsMy4wNiwwLDAsMSwxNC44OC40OVoiLz48L2c+PC9nPjwvc3ZnPg==)
    background-size: contain
    // position: relative
    width: 16px
    height: 37px
    margin-top: -10px
    transition: all 0.4s ease-in
    &,
    &:hover
    &:focus
      outline: none

    &:before
      content: ''
      position: absolute
      display: block
      border: 10px solid transparent
      border-width: 12px 8px
      border-color: transparent #ffd3ea transparent transparent
      top: 6px
      left: 2px
    

  .swiper-button-next
    transform: rotate(180deg)
    right: -21px
    &:hover
      right: -23px

  .swiper-button-prev
    left: -21px
    &:hover
      left: -23px
    

    

$colors-list: #93b9e2 #e3c3d8 #edefb7 #fff6a7 #e3d1e8
$colors-list-2: #C7E2FF #ffd3ea #edeeb7 #fff5a6 #e2d0e7
$colors-list-3: #009FE3 #eb589a #2f932f #f39400 #a064a6
$colors-list-4: #9EB9E1 #F19BC2 #C2E953 #FFE060 #DEB5ED
$colors-list-5: #66d3f8 #ff9ec5 #ceea60 #ffe364 #d3b6ec

// @each $current-color in $colors-list-5
//   $i: index($colors-list-5, $current-color)
//   .b-ration-mobile.b-ration-page--#{$i}
//     .swiper-slide:nth-child(#{$i})   
//       .b-detail__title
//         color: $current-color
        
@each $current-color in $colors-list-4
    $i: index($colors-list-4, $current-color)
    .b-ration-mobile.b-ration-page--#{$i}
      .b-ration__item-wrap
          &:before
            background: linear-gradient(to bottom, $current-color 0%, $current-color 67%, #ffffff 92%, #ffffff 100%)

@each $current-color in $colors-list-2
	$i: index($colors-list-2, $current-color)
	.b-ration-mobile
    .b-interesting.b-interesting--#{$i}

      .b-interesting__btn
        background: $current-color
      
      .b-interesting__item-wrap
        background: linear-gradient(to bottom, $current-color 0%, $current-color 57%, #ffffff 92%, #ffffff 100%)
      


@each $current-color in $colors-list-2
    $i: index($colors-list-2, $current-color)
    .b-ration-mobile.b-ration-page--#{$i}
      .b-ration__item-wrap
        background: linear-gradient(to bottom, $current-color 0%, $current-color 67%, #ffffff 92%, #ffffff 100%)
        @include tablet

@each $current-color in $colors-list-3
    $i: index($colors-list-3, $current-color)
    .b-ration-mobile.b-ration-page--#{$i}
      .b-ration__title
        color: $current-color
    
      .b-ration__content
        &:before
          border-bottom-color: $current-color
        &:after
          border-left-color: $current-color


