mixin b-ration-mobile(spec)
  - list = [['Для мам'], ['С рождения'], ['Старше 6 месяцев'], ['Старше 1 года'], ['Молочное меню']]
  - title = ['Смеси для беременных и кормящих мам', 'Детская сухая молочная смесь Беллакт', 'Детская сухая молочная смесь Беллакт 0-12', 'Детская сухая молочная смесь Беллакт 0-12',  'Детское молоко 3,2% стерилизованное']
  - btn = ['ration-btn-blue', 'ration-btn-pink', 'ration-btn-green', 'ration-btn-yellow', 'ration-btn-violet']
  - content = [['Период вынашивания малыша, а затем и его грудного вскармливания является одним из самых важных в закладке фундамента здоровья ребенка. И этот фундамент зависит прежде всего от качества питания матери. Поэтому многие специалисты рекомендуют сухие молочные смеси для беременных женщин. В них заложены необходимые матери витамины и микроэлементы. Компания Беллакт разработала несколько таких продуктов с учетом всех рекомендаций ВОЗ.'], ['Адаптированная молочная смесь для питания детей с рождения до 6-ти месяцев. Рекомендованапри недостатке или отсутствии грудного молока.Смесь содержит витамины, макро- и микроэлементы,необходимые для гармоничного роста и развитияребенка. Смесь соответствует международным требованиям к качеству детского питания. Состав продукта сбалансирован с учетом возрастныхпотребностей ребенка. Масса нетто: 350 или 400 грамм.'], ['Адаптированная молочная смесь для питания детей с 6-ти месяцев до года. Рекомендованапри недостатке или отсутствии грудного молока.Продукт содержит витамины, макро- и микро-элементы, необходимые для гармоничного ростаи развития ребенка. Смесь соответствуетмеждународным требованиям к качеству детскогопитания. Состав продукта сбалансирован с учетомвозрастных потребностей ребенка. Масса нетто: 350 г. или 400 грамм.'], ['Период вынашивания малыша, а затем и его грудного вскармливания является одним из самых важных в закладке фундамента здоровья ребенка. И этот фундамент зависит прежде всего от качества питания матери. Поэтому многие специалисты рекомендуют сухие молочные смеси для беременных женщин. В них заложены необходимые матери витамины и микроэлементы. Компания Беллакт разработала несколько таких продуктов с учетом всех рекомендаций ВОЗ.'], ['Молоко Беллакт стерилизованное 3,2% Молоко содержит необходимые организмуребенка минеральные вещества и является источником кальция (Са) – важного элементадля формирования костей и зубов.Масса нетто 200 мл.']]
  .b-ration-mobile.b-ration-page--1
    .b-ration-container 
      each val, index in list
        if index == 0
          .b-ration__item
            .b-ration__item-wrap
              .b-ration__ribbon
                .b-ration__ribbon-text
                  = val
              .b-ration__col-wrap
                .b-ration__col
                  .b-ration__pic-wrap
                    .b-ration__pic                   
                      picture
                        img(src="../images/star-#{index + 1}.svg" alt="star")
                    .b-ration__pack
                       picture
                        source(media='(max-width: 640px)', srcset='../images/catalog/catalog-sm-#{index + 1}.png')
                        img(src="../images/catalog/catalog-#{index + 1}.png" alt="")
          .b-ration__item-small
            .b-ration__list.b-ration__list--icon
              ul.icon
                li
                  img(src="../images/catalog/icon-1.svg" alt="icon")
                  span Без ГМО
                li
                  img(src="../images/catalog/icon-2.svg" alt="icon")
                  span Без красителей
                li
                  img(src="../images/catalog/icon-3.svg" alt="icon")
                  span Натурально
                li
                  img(src="../images/catalog/icon-4.svg" alt="icon")
                  span 
                    | Традиционное
                    br
                    | качество
            .b-ration__title
              = title[index]
            .b-ration__content
              span
              = content[index] 
            .button
              img(src="../images/catalog/#{btn[index]}.svg" alt="star")
              span
                | Выбрать питание
            
            .b-ration__title
              | Что для чего? 
            
            .b-ration__list 
              ul
                li
                  | НУКЛЕОТИДЫ
                li
                  | 10 ВИТАМИНОВ
                li
                  | БЕЗ КОНСЕРВАНТОВ
                li
                  | АЛЬФА КИСЛОТА
                li
                  | 9 МИНЕРАЛОВ
                li
                  | ЦИНК, СЕЛЕН И ЙОД
                li
                  | БЕЗ СОЛИ И САХАРА
            
            .b-ration__category
              | Рубрика: 
              a(href='#') Все, что нужно знать заботливой маме
              | ,&nbsp;
              a(href='#') Научный подход. Просто о сложном 
                  
    .b-interesting__wrap
      .b-ration__title
        | Вам может быть это интересно
      .b-ration-container
        #interest.swiper-container
          
          .swiper-wrapper

            .b-interesting.swiper-slide.b-interesting--2
              .b-interesting__item-wrap
                .b-interesting__star
                  img(src='../images/star-sm-2.svg', alt='star')
                .b-interesting__btn.js-btn
                  | Старше 6 месяцев
              .b-interesting__item-wrap
                .b-interesting__pic-small
                  img(src='../images/kid-sm-2.svg', alt='Image Title')
            .b-interesting.swiper-slide.b-interesting--3
              .b-interesting__item-wrap
                .b-interesting__star
                  img(src='../images/star-sm-3.svg', alt='star')
                .b-interesting__btn.js-btn
                  | Старше 1 года
              .b-interesting__item-wrap
                .b-interesting__pic-small
                  img(src='../images/kid-sm-3.svg', alt='Image Title')
            .b-interesting.swiper-slide.b-interesting--4
              .b-interesting__item-wrap
                .b-interesting__star
                  img(src='../images/star-sm-4.svg', alt='star')
                .b-interesting__btn.js-btn
                  | Молочное меню
              .b-interesting__item-wrap
                .b-interesting__pic-small
                  img(src='../images/kid-sm-4.svg', alt='Image Title')
            .b-interesting.swiper-slide.b-interesting--5
              .b-interesting__item-wrap
                .b-interesting__star
                  img(src='../images/star-sm-1.svg', alt='star')
                .b-interesting__btn.js-btn
                  | Для мам
              .b-interesting__item-wrap
                .b-interesting__pic-small
                  img(src='../images/kid-sm-5.svg', alt='Image Title')
            .b-interesting.swiper-slide.b-interesting--1
              .b-interesting__item-wrap
                .b-interesting__star
                  img(src='../images/star-sm-1.svg', alt='star')
                .b-interesting__btn.js-btn
                  | С рождения
              .b-interesting__item-wrap
                .b-interesting__pic-small
                  img(src='../images/kid-sm-1.svg', alt='Image Title')

            //- each val, index in list
            //-   .b-interesting.swiper-slide(class="b-interesting--#{index + 1 }")
            //-     .b-interesting__item-wrap
            //-       .b-interesting__star
            //-         if index == '4'
            //-           img(src="../images/star-sm-1.svg" alt="star")

            //-         else
            //-           img(src="../images/star-sm-#{index + 1}.svg" alt="star")

            //-       .b-interesting__btn.js-btn
            //-         if index == '4'
            //-           = list[0]
            //-         else
            //-           = list[index + 1]
            //-     .b-interesting__item-wrap
            //-       .b-interesting__pic-small
            //-           img(src="../images/kid-sm-#{index + 1}.svg" alt="Image Title")
          .swiper-button-next
          .swiper-button-prev

  script.
    $(function() {
      
      var mySwiper = new Swiper('.swiper-container', {
          speed: 400,
          loop: true,
          spaceBetween: 30,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          }
      });
    });