// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "")
  $index: str-index($string, $search)
  @if $index
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)
  @return $string

// =============================================================================
// Font Face
// =============================================================================

=font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
  $src: null
  $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))
  $formats: (otf: "opentype", ttf: "truetype")
  @each $ext in $exts
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma)
  @font-face
    font-family: quote($name)
    font-style: $style
    font-weight: $weight
    src: $src


$desktop-lg: 1441px
$tablet-width: 641px
$phone-width: 415px
$small: 840px

@mixin desktop-lg
  @media (min-width: #{$desktop-lg})
    @content

@mixin desktop
  @media (min-width: #{$tablet-width})
    @content

@mixin small-screen
  @media (max-height: #{$small - 1px}) and (min-width: $tablet-width)
    @content

@mixin phone
  @media (max-width: #{$phone-width - 1px})
    @content
    
@mixin tablet
  @media (max-width: #{$tablet-width - 1px})
    @content